.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.container {
  position: relative;
  background-color: #6c4e26;
  margin: 40px;
  font-family: "Roboto", sans-serif;}
.footer {
  position: fixed;
  padding-top: 50%;
  bottom: 5px;
  width: 10%;
  margin-top: auto;
  margin-left: 80vw;
}
h1{
position:flex;
 width:30%;  
}
.layout {
  margin-bottom: auto;
  margin-top: auto;
}
.nav {
  width: max-content;
  background-color: #7081d9;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  float: inline-end;
}
.content {
  position:flex;
max-width: max-content;
max-height: fit-content;
}
.navList {
  list-style: none;
}

h4 {
  font-weight: 1000;
  font-style: italic;
}
@media only screen and (min-width: 920px) {
  .layout {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .content {
    width: 70%;
  }
  .nav {
    margin-right: 0px;
}
}

/* tablets */
@media only screen and (max-width: 919px) {
  .layout {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .content {
    width: 50%;
  }
  .nav {
    margin-right: 0px;
}
}

/* phones */
@media only screen and (max-width: 400px) {
  .layout {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .content {
    width: 50%;
  }
  .nav {
    margin-right: 0px;
}
}
